*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.debug{
    border: 3px dashed rgb(0, 0, 0);
    min-height: 80px;
    padding: 15px;

}

:root{
    --space:15px;
    --white: rgb(255, 255, 255);
    --ligt-pink: #ffc0cb;
    --azzurro:#1e90ff;
    --grey:#d3d3d3;
    --orange:#daa520;
    --blue:#00008b;
    --pink:#ee82ee;
    --green:#228b22;
    --black:#23272a;
    --red:#f08080;

}

header{
    background-color:#add8e6 ;
    display: flex;
    justify-content: center;
    padding: var(--space);
}

.container{

    width: 70%;

}

.barra-iniziale{
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    padding: 0;
}

.logo{
    flex: 0 0 25%;
    align-items: center;
}

.link{
    flex: 0 0 50%;
    justify-content: center;
   
}

.login{
    flex: 0 0 25%;
}

ul li{
    display: flex;

}


.prima-parte{
    display: flex;
    justify-content: center;
 
   background-color: var(--blue);
   padding: 50px;
}


.riquadro-rosa-forte{

    flex: 0 0 50%;
    background-color: var(--pink);
border-radius: 15px;
min-height: 500px;
}

.seconda-parte{
    display: flex;
    justify-content: center;
   padding: 50px;
   min-height: 500px;
    background-color: var(--white);
}

.riquadro-azzurro{
    flex: 0 0 70%;
    background-color: var(--azzurro);
    
}

.riquadro-rosa{
    flex: 0 0 30%;
    background-color: var(--ligt-pink);
}

.terza-sezione{
    background-color: var(--grey);
}

.riquadro-verde{
    flex: 0 0 80%;
    background-color: var(--green);
border-radius: 15px;
min-height:800px;
}

.penultimo-riquadro{
    display: flex;
    min-height: 600px;
    justify-content: center;
    padding: 20px;
    background-color: var(--black);
}

.riquadro-sinistra{
    flex: 0 0 20%;
    background-color: var(--red);
}

.riqadro-destra{
    flex: 0 0 60%;
    display: flex;
    padding: 0;
   
    background-color: #20b2aa;
}

.celle{
    flex: 0 0 25%;
border: 2px dashed #d3d3d3;
}
